{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "proseWrap": "never",
  "printWidth": 250
}
